var delimiter =
$('<div class="page-delimiter"  data-page="<%= params[:page] %>"></div>');
$('.row').append(delimiter);
$('.row').append('<%= j render @gists %>');
$('.pagination').replaceWith('<%= j will_paginate @gists %>');
preparePagination(delimiter);

<% unless @gists.next_page %>
$('#infinite-scrolling .pagination').remove();
<% end %>

